*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-image: url(../galery/286417529_563298345138976_1016982810080722711_n.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}